<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About ExamHub</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<header>
<nav class="navbar">
        <a href="{{url_for('home')}}">Home</a>
        <a href="{{url_for('login')}}">Login</a>
        <a href="{{url_for('contact')}}">Contact</a>
</nav>
</header>    
<main class="container">
<h1>About ExamHub</h1>
<p>ExamHub is a secure and regulated Computer-Based Test (CBT) platform, dedicated to helping educational institutions conduct online examinations efficiently.</p>
<p>
    ExamHub helps students prepare for Computer-Based Tests by providing a secure environment where they can practice timed examinations and improve their confidence before real exams.
</p>
<h2>Our Mission </h2>
<ul>
    <li>Simplify online examinations</li>
    <li>Provide secure testing</li>
    <li>Improve the examination experience</li>
</ul>
<h2>Why choose ExamHub</h2>
<ul>
    <li>Secure Login</li>
    <li>Timed Exams</li>
    <li>Instant Results</li>
    <li>Mobile Friendly</li>
</ul>
</main>
<hr>
<footer>
    <p>© 2026 ExamHub</p>
    <nav>
        <ul>
            <li><a href="privacy.html">Privacy Policy</a></li>
            <li><a href="terms.html">Terms</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</footer>
</body>
</html>