<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-ExamHub</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<header>
    <h1>ExamHub</h1>
    <h2>Student Login</h2>
    <nav>
        <ul>
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('about')}}">About</a></li>
            <li><a href="{{url_for('contact')}}">Contact</a></li>
        </ul>
    </nav>
</header>
<main class="container">
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
  <form method="post">

     <label for="matric">Matric Number</label>
     <input
        type="text"
        id="matric"
        name="matric"
        placeholder="Enter your matric number"
        required
     >

    <br><br>

    <label for="password">Password</label>
    <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter your password"
        required
    >

    <br><br>

    <button type="submit">
        Login
    </button>

  </form>
  <p>Please enter your matric number and password to access your examination dashboard.</p>
</main>
<hr>
<footer>
<p>© 2026 ExamHub</p>

</footer>
</body>
</html>